<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav class="col-md-2 d-none d-md-block sidebar py-3 px-0 positive-fixed" th:fragment="sidebar">
        <div class="d-flex flex-column h-100">
            <div>
                <div class="logo ps-3">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Forumi<span class="logo-orange">kaa</span></span>
                </div>
                <ul class="nav flex-column mb-2 ps-3">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin}"
                           th:classappend="${#httpServletRequest != null and #httpServletRequest.getRequestURI().startsWith('/admin') and #httpServletRequest.getRequestURI().length() == 6 ? 'active' : ''}"><i class="bi bi-house-door"></i> Tổng quan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/users}"
                           th:classappend="${#httpServletRequest != null and #httpServletRequest.getRequestURI().startsWith('/admin/users') ? 'active' : ''}"><i class="bi bi-people"></i> Quản lý người dùng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/posts}"
                           th:classappend="${#httpServletRequest != null and #httpServletRequest.getRequestURI().startsWith('/admin/posts') ? 'active' : ''}"><i class="bi bi-file-text"></i> Quản lý bài viết</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/groups}"
                           th:classappend="${#httpServletRequest != null and #httpServletRequest.getRequestURI().startsWith('/admin/groups') ? 'active' : ''}"><i class="bi bi-briefcase"></i> Quản lý nhóm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/crawling}"
                           th:classappend="${#httpServletRequest != null and #httpServletRequest.getRequestURI().startsWith('/admin/crawling') ? 'active' : ''}"><i class="bi bi-body-text"></i> Quản lý cấu hình Crawling</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-flag"></i> Báo cáo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-question-circle"></i> Yêu cầu hỗ trợ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-gear"></i> Cài đặt</a>
                    </li>
                </ul>
            </div>
            <div class="logout d-flex align-items-center mt-auto p-3">
                <i class="bi bi-box-arrow-right fs-4"></i>
                <form th:action="@{/logout}" method="post" style="margin:0;">
                                            <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button type="submit" class="btn btn-link p-0 m-0" style="text-decoration: none; color: #b0c4de">
                        Đăng xuất
                    </button>
                </form>
            </div>
        </div>
    </nav>

</body>
</html> 